html,
body,
#map {
  height: 100%;
  padding: 0;
  margin: 0;
}

.HomeButton {
  position: absolute;
  left: 20px;
  top: 85px;
  z-index: 30;
}

.esriBasemapGallery {
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 20vw;
  max-height: 100vh;
  overflow: auto;
}

.map-progress {
  position: absolute;
  left: 50vw;
  bottom: 2vh;
  z-index: 30;
}
